h1, section#banner h2 {
  font-size: 2.25rem;
  margin-top: 0;
  color: #14142b;
  margin-bottom: 0.5rem;
  line-height: 1.3em;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.38em;
}

h3, section#banner h1 {
  font-size: 1.5rem;
  line-height: 1.333em;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.272em;
  margin-bottom: 0.5rem;
  color: #14142b;
  font-weight: 700;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.333em;
}

h6 {
  font-size: 1rem;
  line-height: 1.375em;
}

p {
  font-size: 1.125rem;
  line-height: 1.777em;
}

p.small {
  font-size: 0.875rem;
  line-height: 1.6em;
}

p.large {
  font-size: 1.375rem;
  line-height: 1.818em;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 32px;
  padding-bottom: 32px;
}

header > nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header > nav > ul > li {
  margin-right: 40px;
}

header > div {
  display: flex;
  align-items: center;
}

header > div > svg {
  margin-right: 12px;
}

section {
  height: 100vh;
  background-color: #fff;
}

@media print {
  section {
    background-color: yellow;
  }
}





section#banner {
  display: flex;
  align-items: center;
}

section#banner > div {
  width: 50%;
}




.btn {
  padding: 24px 60px;
  border-style: none;
  border-radius: 80px;
  background-color: #14142b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
}

.btn.small {
  padding: 14px 32px;
  font-size: 1rem;
  line-height: 1.125rem;
}

.btn.large {
  padding: 20px 68px;
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.btn.secondary {
  color: #4e4b66;
  background-color: #f6f7ff;
}

/* Fix sizes */
/* 
px
pt
cm
mm
in
*/

/* Relative Sizes */
/* 
    rem
    em
    %
*/




/* Mobile First */

@media screen and (min-width: 640px) {
    h1, section#banner h2 {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    h1, section#banner h2 {
        font-size: 3.25rem;
        margin-bottom: 1.25rem;
    }
    
}

@media screen and (min-width: 1024px) {
    h1, section#banner h2 {
        font-size: 4.25rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width: 1280px) {
    
}
 


/* 

Desktop First

@media screen and (max-width: 1280px) {
    section {
        background-color: yellow;
    }
}

@media screen and (max-width: 1024px) {
    section {
        background-color: blue;
    }
}

@media screen and (max-width: 768px) {
    section {
        background-color: green;
    }
}

@media screen and (max-width: 640px) {
    section {
        background-color: red;
    }
} 

*/


